.swiper-pagination-bullet {
	background-color: #f36100;
	opacity: 0.7;
	width: 12px;
	height: 12px;
	transition: opacity 0.3s, transform 0.3s;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	transform: scale(1.2);
}

.swiper-button-next,
.swiper-button-prev {
	color: #f36100;
	font-size: 1.5rem;
	padding: 10px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 0.3s, transform 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
	background-color: #f36100;
	color: white;
	transform: scale(1.1);
}
